@media only screen and (min-width:0px) and (max-width: 350px) {
#main span {
    font-size: 60px!important;
}
}
@media only screen and (min-width:0px) and (max-width: 600px) {
    .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        
    }

    .btn-primary1, .btn-primary1:hover, .btn-primary1:active {
        background-color: #01BC8C;
        border-color:#01BC8C;
        color: #fff;
    }
    a, a:hover, a:active, a:visited, a:focus {
        text-decoration:none;
    }
    #brechos-page h2 {
        font-size: 18px;
    }
    #brechos-page .form-control {
        border: 0px solid black;
        -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16);
box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.16);
    }
    #brechos-page .ajuste-icone {
        position: relative;

    }
    #brechos-page .ajuste-icone .icone-ajuste {
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 15px;
        width: 30px;
    }

    }

@media only screen and (min-width:300px) and (max-width: 1024px) {
    .responsivo-logo {
      max-width: 70px;
      
    }
    #header ul {
        text-align: center;
    }
    #header a {
        margin: 0;
        
    }
    #header li {
        padding: 20px 0px 20px 0px;
        margin-right: 0px!important;
    }
    footer .align-footer-elem {
        display: block;
        text-align: center;
    }
    footer li {
        padding: 10px 0;
        display: block;
    }
    .frase-footer {
        font-size: 15px;
        text-align: center;
    }
    .footer-centralizado {
        text-align: center;
    }
    .col-x {
        padding: 20px 0px;
    }
    .destaque-brecho {
        font-size: 50px;
    }
    .destaque-brecho-p {
        font-size: 18px;
    }
    .sust-h2 {
        font-size: 27px;
    }
    .sust-h3 {
        font-weight: 200;
    }
    #main h1 {
        font-size: 65px!important;
        line-height: 70px!important;
        text-align: center;
        padding-top: 10px!important;
    }
    #main h2 {
        text-align: center;
    }
    #main span {
        font-size:70px ;
    }
    .ilust {
        width: 70%;
    }
    .mural {
        font-size:34px ;
    }
    .mural-p {
        font-size: 15px;
    }
    #sustentabilidade-page h1{
        font-size: 35px;	
        color: #00BC8C;
    }
    #filtro-brechos .icons-b {
        padding-bottom: 15px;
    }
    .pad-f-mobile {
        padding-top: 30px;
    }
  }
  @media only screen and (min-width: 800px) and (max-width: 1023) {


  }


  @media only screen and (min-width: 800px) and (max-width: 1199px) {
    .responsivo-logo {
      width: 80px;
      
    }
    #header ul {
        text-align: center;
    }
    #header a {
        margin: 0;
        
    }
    #header li {
        padding: 20px 0px 20px 0px;
        margin-right: 0px!important;
    }
    footer .align-footer-elem {
        display: block;
        text-align: center;
    }
    footer li {
        padding: 10px 0;
        display: block;
    }
    .frase-footer {
        font-size: 15px;
        text-align: center;
    }
    .footer-centralizado {
        text-align: center;
    }
    .col-x {
        padding: 40px 0px;
    }
    #main h1 {
        font-size: 100px;
        line-height: 90px;
    
        padding-top: 80px;
    }
    #main h2 {
        font-size: 17px;
        
        text-align: center;
        padding-top: 80px;
    }
    #main .ajuste-local {
        width: 20%;
    }
    footer li {
        display: inline;
        padding: 0px 5px;
        color: #CECECE;
    }
    footer ul {
        margin-bottom: 0px;
        margin-left: 40px;

    }
    .frase-footer {
        font-size: 15px;
        text-align: center;
    }
    .footer-centralizado {
        text-align: center;
    }
    .col-x {
        width: 33.3%;
        text-align: center;
        padding: 40px 0px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .responsivo-logo {
      width: 70px;
      padding-bottom: 1.5rem!important;
    }
    #main h1 {
        font-size: 80px;
        line-height: 75px;
        
    }
    .adjust-vw {
        margin-top: 115px;
    }
    #main span {
        font-size: 90px;
    }
    #main h2 {
        font-size: 19px;
    }
    .align-center {
        margin-top:80px;
    }
    #header ul {
        text-align: center;
    }
    .ajustar-footer {
        align-items: center!important;
        display:flex;
    }
    #header a {
        margin: 0;
        
    }
    
    .col-x {
        width: 33.3%;
        text-align: center;
        padding: 40px 0px;
       
    }
    .justif {
        justify-content: space-between!important;
        display: flex!important;
    }
    footer li {
        display: inline;
        padding: 0px 5px;
        color: #CECECE;
    }
    footer ul {
        margin-bottom: 0px;
        margin-left: 40px;

    }
    .frase-footer {
        font-size: 15px;
        text-align: center;
    }
    .footer-centralizado {
        text-align: center;
    }

  }