* {
	font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
  }
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

#header ul, #header button{
	font-size: 15px;
	
}
.btn-primary:hover {
	background-image: url(../img/search-icon.svg) no-repeat;
}

.logo-header{
	max-width: 40%;
    height: auto;
}
.center-object {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.ilust {
	width: 80%;
	display: inline-block;
}
.cent {
	text-align: center;
}
.embarque-style {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: 300;
}


/**#main {
	background-image:url("../img/teste.png");
	background-repeat: no-repeat;
	
}**/
/* #view-size {
	height: 100vh;
} */
#main h1 {
	font-size: 120px;
	line-height: 110px;
	/* margin-top: 10vh; */
	font-weight: 400;
	color: #F7EEDD;
}
.align-center {
	margin-top: 10%;
}
/* #sustentabilidade .container{
	max-width: 1140px;
} */
#sustentabilidade h3{
	font-size: 14px;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 1px;
}
.sem-padding {
	padding-bottom: 0;
}
footer {
	background-color: #404040;
}
footer ul {
	color: white;
	margin-bottom: 0;
}
.frase-footer {
	font-size: 23px;
	font-style: italic;
	color: #CECECE;
	text-align: center;
}
.footer-centralizado {
	border-top: #707070 1px solid;
	border-bottom: #707070 1px solid;
}
#main .ajuste-local {
	width: 70%;
}
/* .nav-aventura {
	position:absolute;
	bottom:0;
	display: block;
	
} */
.size-icons {
	width:40px;
}
#choose-character .card-sh {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.size-icons:hover {
	animation: spinAround 0.4s linear;
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}
.destaque-brecho {
	font-size: 70px;
	text-align: center;
	color: #FFAF00;
	font-weight: 600;
}
#dono-brecho {
	background-image: url(../img/background-bot.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#dono-brecho .btn {
	background-color: #00BC8C;
	color: #fff;
	font-size: 18px;
	
}
.destaque-brecho-p {
	font-size: 20px;
	text-align: center;
	color: #353535;
	font-weight: 400;
}
.btn-grad a{
	color: #fff;
	text-decoration: none;
}
.btn-grad a:active{
	text-decoration: none;
}
.btn-grad {
	background-image: linear-gradient(to right, #FFAF00 0%, #FF9283 100%);
	color: #fff;
	opacity: 0.8;
	transition: 0.3s;
	border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
.btn-grad:hover { 
	background-position: right center; 
	
	opacity: 1;
	color:#fff;
}

.mural {
	text-align: center;
	color: #00BC8C;
	font-weight: 600;
	font-size: 80px;
}
.mural-p {
	text-align: center;
	color: #353535;
	font-weight: 400;
	font-size: 18px;
}
#sustentabilidade {
	background-image: url(../img/background-sust.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
#sustentabilidade .row {
	margin-left: 0px;
}
.background-head {
	background-color: #F7EEDD;
}
.sust-h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
/* icone animação embarque */
.arrow{
	display: inline-block;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #FFAF00;
    border-right: 5px solid #FFAF00;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* fim icone animação embarque */
#choose-character {
	padding-top: 50px;
}
#choose-character .info-energy{
	font-size: 12px;

}
a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
}
.icon-energy {
	max-width: 25px;
	max-height: 25px;
}

.inlin {
	display: inline;
}
#main h2 {
	font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    color: #313131;
}
#main span {
	color: #BE6A5F;
	font-size: 90px ;
	font-weight: 600;
}
.backg {
	background-image: url(../img/background-main3.svg);
	background-repeat: no-repeat;
	background-position: top center;

}
/* #view-size {
	background-image: url(../img/background-main.svg);
	background-repeat: no-repeat;
	background-size: cover;
} */
.sust-h3 {
	color: #FFFAF2;
	font-size: 20px;
	font-weight: 300;
	
}
.btn-style {
	background-color: #00BC8C;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
}
.powered-by img {
	display: none!important;
}
.choose-char {
	font-size: 25px;
	color: #7B7B7B;
	font-weight: 400;
}
.modal-content h3 {
	text-align: center;
}
.nav-link {
	border-bottom: 2px solid rgba(255, 175, 0, .0);
	
}
.nav-link:hover {
	transition: 0.4s;
	border-bottom: 2px solid rgba(255, 175, 0, 1);
}
.hover-active {
	border-bottom: 1px solid rgba(255, 175, 0, 1);
}
#sustentabilidade-page {
	margin-top: 100px;
}
/* #sustentabilidade-page {
	margin-top: 20vh;
} */
#sustentabilidade-page h1{
	font-size: 60px;	
	color: #00BC8C;
	font-weight: 600;
}
#brechos-page {
	
	padding-bottom: 10vh;
	background-image: url(../img/background-brechos1.svg);
	background-repeat: no-repeat;
	background-position: left center cover;
}
#brechos-page h1{
	font-size: 60px;	
	color: #00BC8C;
	font-weight: 600;
}
#clausula {
	 max-width: 600px;  
	    
}
#brechos-page h2{
	font-size: 25px;
	font-weight: 400;	
	color: rgb(90, 90, 90);
}

.card-title {
	color: #1E1E1E;

}
.card-text {
	color: #828282;
}
#filtro-brechos .owl-carousel .item {
	background-color: rgb(255, 255, 255);
}
.padding-card {
	padding: 10px 10px 10px 10px;
	margin: 20px;
}
#filtro-brechos .owl-carousel .owl-item .queen {
	width: 10%;
}
#filtro-brechos .icons-b {
	width: 25px;
	max-height: 50px;
}
#filtro-brechos .border-adjust {
	margin: 10px 0px;
	padding: 10px 0px;
	border-top: 1px solid rgb(206, 206, 206);
}
#filtro-brechos .nome-brecho {
	font-size: 35px;
	font-weight: 600;
	color: #FFAF00;
	text-align: center;
}
#filtro-brechos .card-sh {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  }

  #filtro-brechos .card-sh:hover {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .size-adjust {
	  height: 400px;
  }
  #onde-doar-page {
    /* padding-top: 20vh; */
    padding-bottom: 10vh;
    background-image: url(../img/background-brechos1.svg);
	background-repeat: no-repeat;
  }
  #onde-doar-page h1 {
    font-size: 60px;
    color: #00BC8C;
    font-weight: 600;
}
.circle {
	position: absolute;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #FFAF00;
	animation: button 5s linear infinite;
  }
  .animated {
	animation-duration: 15s!important;
  }
  #main .container {
	  max-width: 1140px;
  }
  #sustentabilidade-page .container {
	  max-width: 1140;
  }
  .shake:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
}



.flip-card {
  background-color: transparent;
 
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

/* hover dos integrantes */
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}
/* fim hover */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

#clausula p{
	text-align: justify;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.border-agenda {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.dia-agenda {
	font-size: 26px;
	font-weight: 700;
}
.titulo-agenda {
	font-size: 14px;
	font-weight: normal;
	color: #808080;
}
.texto-agenda {
	font-size: 12px;
	font-weight: 300;
	color: #808080;
	
}
.btn-link:hover {
	color: #212529;
    text-decoration: none;
}
.btn-link {
	color: #212529!important;
    text-decoration: none;
}
.borda-dia-agenda {
	border-right: 1px solid #7070701e;
	
}
.borda-dia-agenda2 {
	border-left: 1px solid #7070701e;
	
}
.mes-agenda {
	font-size: 20px;
	font-weight: 300;
	color: #3A3A3A;
}
.ano-agenda {
	font-size: 20px;
	font-weight: 700;
	color: #000000;
}
#story-1 .container{
	background-color: #fff;
	margin: 20px 20px;
	width: auto;
}
.texto-narrativa {
	font-size: 15px;
	font-weight: normal;
	color: #535353;
}
.titulo-narrativa {
	font-weight: 700;
}
.texto-narrativa-2 {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	color: #535353;
}