* {
	font-family: 'Poppins', sans-serif;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
.container {
	max-width: 1440px;
	
}
#header ul, #header button{
	font-size: 18px;
	
}
.logo-header{
	max-width: 40%;
    height: auto;
}
.center-object {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.ilust {
	width: 80%;
	display: inline-block;
}
.cent {
	text-align: center;
}
.embarque-style {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: 300;
}
.adjust-vw {
	margin-top: 10%;
}
.icon-embarque {

}
/**#main {
	background-image:url("../img/teste.png");
	background-repeat: no-repeat;
	
}**/
/* #view-size {
	height: 100vh;
} */
#main h1 {
	font-size: 120px;
	line-height: 110px;
	margin-top: 10vh;
	font-weight: 400;
	color: #F7EEDD;
}
.align-center {
	margin-top: 10%;
}
#sustentabilidade .container{
	max-width: 1140px;
}
#sustentabilidade h3{
	font-size: 14px;
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 1px;
}
.sem-padding {
	padding-bottom: 0;
}
footer {
	background-color: #404040;
}
footer ul {
	color: white;
	margin-bottom: 0;
}
.frase-footer {
	font-size: 23px;
	font-style: italic;
	color: #CECECE;
	text-align: center;
}
.footer-centralizado {
	border-top: #707070 1px solid;
	border-bottom: #707070 1px solid;
}
#main .ajuste-local {
	width: 70%;
}
/* .nav-aventura {
	position:absolute;
	bottom:0;
	display: block;
	
} */
.size-icons {
	width:40px;
}
.destaque-brecho {
	font-size: 70px;
	text-align: center;
	color: #FFAF00;
	font-weight: 600;
}
#dono-brecho {
	background-image: url(../img/background-bot.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#dono-brecho .btn {
	background-color: #00BC8C;
	color: #fff;
	font-size: 25px;
}
.destaque-brecho-p {
	font-size: 20px;
	text-align: center;
	color: #353535;
	font-weight: 400;
}
.btn-grad {
	background-image: linear-gradient(to right, #FFAF00 0%, #FF9283 100%);
	color: #fff;
	opacity: 0.8;
	transition: 0.3s;
	border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}
.btn-grad:hover { 
	background-position: right center; 
	
	opacity: 1;
	color:#fff;
}

.mural {
	text-align: center;
	color: #00BC8C;
	font-weight: 600;
	font-size: 80px;
}
.mural-p {
	text-align: center;
	color: #353535;
	font-weight: 400;
	font-size: 18px;
}
#sustentabilidade {
	background-image: url(../img/background-sust.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
#sustentabilidade .row {
	margin-left: 0px;
}
.background-head {
	background-color: #F7EEDD;
}
.sust-h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 600;

}
/* animation icon embarque */

.arrow{
    /* position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%); */
	display: inline-block;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #FFAF00;
    border-right: 5px solid #FFAF00;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}




/* animation icon embarque */
#choose-character {
	padding-top: 50px;
}
#choose-character .info-energy{
	font-size: 12px;

}
.icon-energy {
	max-width: 25px;
	max-height: 25px;
}

.inlin {
	display: inline;
}
#main h2 {
	font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    color: #313131;
}
#main span {
	color: #BE6A5F;
	font-size: 140px ;
	font-weight: 600;
}
body {
	background-image: url(../img/background-main.svg);
	background-repeat: no-repeat;

	
	background-position: cover;

}
/* #view-size {
	background-image: url(../img/background-main.svg);
	background-repeat: no-repeat;
	background-size: cover;
} */
.sust-h3 {
	color: #FFFAF2;
	font-size: 20px;
	font-weight: 300;
	
}
.btn-style {
	background-color: #00BC8C;
	color: #fff;
	font-size: 18px;
}

.choose-char {
	font-size: 25px;
	color: #7B7B7B;
	font-weight: 400;
}
.modal-content h3 {
	text-align: center;
}
